# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out
frontend/build

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
frontend//.vscode
api/.vs
api/webapi/bin
api/webapi/obj

# Visual Studio Code
frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend//.angular/cache
frontend/.sass-cache/
frontend//connect.lock
frontend//coverage
frontend//libpeerconnection.log
frontend/testem.log
frontend//typings

# System files
.DS_Store
Thumbs.db

# git
frontend/.git
frontend/.gitignore
