<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
                <th scope="col">
                    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add An Employee</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2"
                        style="width: 20px" />
                    {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal popup for registration -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Register An Employee</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="regisetrForm" [class.submitted]="submitted">
            <div class="mb-3">
                <label for="name">FullName</label>
                <div class="input-group">
                    <input formControlName="fullname" id="name" class="form-control" placeholder="Entre full name"
                        name="name" />
                </div>
            </div>
            <div class="mb-3">
                <label for="email">Email</label>
                <div class="input-group">
                    <input formControlName="email" id="email" class="form-control" placeholder="Entre email"
                        name="email" />
                </div>
            </div>
            <div class="mb-3">
                <label for="salary">Salary</label>
                <div class="input-group">
                    <input formControlName="salary" id="salary" class="form-control" placeholder="Entre salary"
                        name="salary" />
                </div>
            </div>
            <div class="mb-3">
                <label for="joindate">Join date</label>
                <div class="input-group">
                    <input formControlName="joindate" id="joindate" class="form-control" placeholder="yyyy-mm-dd"
                        name="joindate" ngbDatepicker #jd="ngbDatepicker" />
                    <button class="btn btn-outline-secondary" (click)="jd.toggle()" type="button">
                        <i class="fa-regular fa-calendar-days"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit(modal)">Save</button>
    </div>
</ng-template>